/* Estilos de pagina de viajes 
*{
    outline: solid rgb(0, 0, 0);
}
*/
body { /* Selección de body */
    font-family:Arial, sans-serif ; /* Cambia tipografia */
    margin: 0; /* Elimina todo el margen predefinido */
    padding: 0; /* Elimina todo el relleno de los elementos */
    }
    /* Acá viene el estilo de una clase container */
    .container {
        width: 80%; /* Establece el ancho del contenedor en un 80% */
        margin: 0 auto; /* Centra horizontalmente el contenedor */
    }
    /* Estilo de encabezado */
    header {
        background-color: #333; /* Establece el color de fondo */
        color: #fff; /* Establece el color del texto */
        padding: 20px 0; /* Añade relleno superior e inferior */
    }
    
    header h1{
        margin: 0; /* Elimina el margen por defecto del título */
    }
    /* Estilo de elemento de lista */
    nav ul li{
        display:inline; /* Alinea los elementos */
        margin-right: 20px; /* Margen hacia la derecha */
    }
    /* Estilo a elementos de vinculo ancla de navegacion */
    nav ul li a{
        color:#fff; /* Color a elemento Anchor */
        text-decoration: none; /* Quita subrayado de enlaces */
    }
    
    section {
        padding: 40px 0; /* Añade relleno superior e inferior  */
    }
    
    #banner{
        background-image: url('https://via.placeholder.com/1500x500');/*Establece la imagen de fondo del banner*/
        background-size: cover; /* Ajusta la imagen al área del banner */
        color: #fff; /* Establece color del texto */
        text-align: center; /* Centra el texto del banner*/
        padding: 100px 0; /* Define relleno superior e inferior */
    }
    #banner h2{
        font-size: 36px; /* Establece tamaño de h2 */
    }
    #banner p{
        font-size: 18px; /* Establece tamaño de p */
        margin-bottom: 20px; /* Define margen inferior*/
    }
    
    .btn{
        background-color: #007bff; /* Color fondo boton */
        color: #fff; /* Color del texto del boton */
        padding: 10px 20px; /* Relleno del boton */
        text-decoration: none; /* Quita decoración de enlace*/
    }
    /* Estilo cuando pasa puntero sobre el boton */
    .btn:hover {
        background-color: #0056b3; /* Establece color de fondo en hover boton */
    }
    
    .destinos-container{
        display: flex; /* Utiliza flexbox para alinear elementos */
        justify-content: space-between; /* Distribuye uniformemenente los elementos */
        flex-wrap: wrap; /* Si los elementos no caben en la misma línea, agrega una nueva linea con estos elementos extras */
    }
    .destino{
        width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
        margin-bottom: 20px; /* Define el margen inferior*/
        text-align: center; /* Centra el texto */
    }
    
    .destino img{
        width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
        border-radius: 8px; /* Agrega esquinas redondeadas */
    }
    .destino h3{
        margin-top:10px; /* Agrega distancia entre imagen y h3 */
    }
    .destino p{
        margin-top:10px; /* Agrega distancia superior entre h3 y p */
    }
    
    footer{
        background-color: #333; /* Establece color fondo de footer */
        color: #fff; /* Establece color de texto de footer */
        text-align: center; /* Centra el texto */
        padding: 20px 0; /* Añade relleno superior e inferior */
    }
    
    /* aqui va el estilo del formulario de contacto*/

    #contacto{
        padding:40px 0;
    }
    
    #contacto .container{
        text-align: center;
    }

    #contacto h2{
        margin-bottom: 20px;
    }
    #contacto form{
    max-width: 500px; /* establece el encho máximo del elemento */ 
    margin: 0 auto; /*centra horozontalmente dentro de contenedor */
    padding: 20px;
    background-color: burlywood ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 1); /* establece una sombra de formulario */
    }
    #contacto label {
        display: block; /* etiqueta en bloque */
        margin-bottom: 10px ;
        font-weight: bold; /*establece fuente en negrita */
    }
        #contacto input , #contacto textarea{
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #fff;
            border-radius: 5px;
            box-sizing: border-box ; /*incluye al padding y el borde de ancho */
        }

        #contacto textarea {
            resize: vertical; /*permite redimensinar verticalmene el texto*/
        }
        /*el de hoteles de martin */
        /* el seguro de lenneth */
        #text h1{
            margin-bottom: 80px;
        }
        #text  h3 {
        margin-bottom: 40px;
        }
        #text figcaption {
            margin-bottom: 20px;
        }
        body {
            background-color: rgb(255, 252, 237);
        /* destinos de ariel*/
        /* yo es paquete */
        #ds{
            background-image: url('https://blog.nmviajes.com/wp-content/uploads/2018/10/iStock_000025713973Medium-1500x500.jpg');/*Establece la imagen de fondo del banner*/
            background-size: cover; /* Ajusta la imagen al área del banner */
            color: #fff; /* Establece color del texto */
            text-align: center; /* Centra el texto del banner*/
            padding: 100px 0; /* Define relleno superior e inferior */
        }
        #ds h2{
            font-size: 36px; /* Establece tamaño de h2 */
        }
        #ds p{
            font-size: 18px; /* Establece tamaño de p */
            margin-bottom: 20px; /* Define margen inferior*/
        }
        #paquete{
            display: flex; /* Utiliza flexbox para alinear elementos */
            justify-content: space-between; /* Distribuye uniformemenente los elementos */
            flex-wrap: wrap; /* Si los elementos no caben en la misma línea, agrega una nueva linea con estos elementos extras */
        }

        .px {
            transition: all 0.3s;
            filter: grayscale(0%);
        }
        .px:hover {
            transform: scale(1.05);
            filter: grayscale(40%);
        }

        #pr{
        background-image: url('https://assets.airtrfx.com/media-em/h2/countries/colombia-CO.jpg');/*Establece la imagen de fondo del banner*/
        background-size: cover; /* Ajusta la imagen al área del banner */
        color: #fff; /* Establece color del texto */
        text-align: center; /* Centra el texto del banner*/
        padding: 100px 0; /* Define relleno superior e inferior */
    }
    #pr h2{
        font-size: 36px; /* Establece tamaño de h2 */
    }
    #pr p{
        font-size: 18px; /* Establece tamaño de p */
        margin-bottom: 20px; /* Define margen inferior*/
    }
        #sd {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt4JBeFi3VZ4XO-URtduzEFXZBo8LkgIEbY13TDGfsEQ&s');/*Establece la imagen de fondo del banner*/
            background-size: cover; /* Ajusta la imagen al área del banner */
            color: #fff; /* Establece color del texto */
            text-align: center; /* Centra el texto del banner*/
            padding: 100px 0; /* Define relleno superior e inferior */
        }
        #sd h2{
            font-size: 36px; /* Establece tamaño de h2 */
        }
        #sd p{
            font-size: 18px; /* Establece tamaño de p */
            margin-bottom: 20px; /* Define margen inferior*/
        }

        #fg {
            background-image: url('https://assets.turismocity.com/cdn-cgi/image/format=auto,width=1400,fit=scale-down/img/1681222602221_dicas-de-viagem-para-a-Disney-castelo.jpg');/*Establece la imagen de fondo del banner*/
            background-size: cover; /* Ajusta la imagen al área del banner */
            color: #fff; /* Establece color del texto */
            text-align: center; /* Centra el texto del banner*/
            padding: 100px 0; /* Define relleno superior e inferior */
        }
        #fg h2{
            font-size: 36px; /* Establece tamaño de h2 */
        }
        #fg p{
            font-size: 18px; /* Establece tamaño de p */
            margin-bottom: 20px; /* Define margen inferior*/
        }

        #ns {
            background-image: url('https://www.sernatur.cl/wp-content/uploads/2019/11/1500x500.jpg');/*Establece la imagen de fondo del banner*/
            background-size: cover; /* Ajusta la imagen al área del banner */
            color: #fff; /* Establece color del texto */
            text-align: center; /* Centra el texto del banner*/
            padding: 100px 0; /* Define relleno superior e inferior */
        }
        #ns h2{
            font-size: 36px; /* Establece tamaño de h2 */
        }
        #ns p{
            font-size: 18px; /* Establece tamaño de p */
            margin-bottom: 20px; /* Define margen inferior*/
        }

        #internacionales {
            display: flex; /* Utiliza flexbox para alinear elementos */
            justify-content: space-between; /* Distribuye uniformemenente los elementos */
            flex-wrap: wrap; /* Si los elementos no caben en la misma línea, agrega una nueva linea con estos elementos extras */
        }
        .internacionales{
            width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
            margin-bottom: 20px; /* Define el margen inferior*/
            text-align: center; /* Centra el texto */
        }
        
        .internacionales img{
            width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
            border-radius: 8px; /* Agrega esquinas redondeadas */
        }
        .internacionales h3{
            margin-top:10px; /* Agrega distancia entre imagen y h3 */
        }
        .internacionales p{
            margin-top:10px; /* Agrega distancia superior entre h3 y p */
        }
        
/*el de hoteles de martin */
#hoteles {
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemenente los elementos */
    flex-wrap: wrap;
}

.hoteles img {
    width: 85%;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s;
    filter: grayscale(0%);
    margin-left: 50px;
}

.hoteles h2 {
    text-align: center;
}

.hoteles:hover img {
    transform: scale(1.05);
    filter: grayscale(40%);
}

.hoteles {
    width: calc(30.30% - 10px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior*/
}
/*banner*/
#banner_2{
    background-image: url('https://www.altiplanico.cl/wp-content/uploads/2011/12/atardecer.jpg');/*Establece la imagen de fondo del banner*/
    background-size: cover; 
    color: #fff;
    text-align: center; 
    padding: 100px 0; 
}

#banner_2 h2{
    font-size: 36px; 
}
#banner_2 p{
    font-size: 18px; 
    margin-bottom: 20px; 
}
/*reserva de hotel*/
#hotel{
    padding:40px 0;
    color: #fff;
}

#hotel h2{
    margin-bottom: 20px;
}
#hotel form{
max-width: 500px; /* establece el encho máximo del elemento */ 
margin: 0 auto; /*centra horozontalmente dentro de contenedor */
padding: 20px;
background-color: #3d3d3d ;
border-radius: 8px;
box-shadow: 0 0 10px rgb(0, 0, 1); /* establece una sombra de formulario */
}
#hotel label {
    display: block; /* etiqueta en bloque */
    margin-bottom: 10px ;
    font-weight: bold; /*establece fuente en negrita */
}
#hotel input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
        box-sizing: border-box ; /*incluye al padding y el borde de ancho */
    }

.btn2 {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn2 :hover {
    background-color: #706e6e;
}

#selecion {
    padding: 5px 40px;
    margin-bottom: 20px;
}

#hotel div form input {
    text-align: left;
}

/*kthrtj*/