
body {
    width: 30%; /* Define un ancho para el contenido del body */
    margin: 0 auto; /* Centra horizontalmente el contenido */
    background-color: #000000; /* Ejemplo de fondo */
    padding: 40px; /* Espaciado interno opcional */
}

    
    

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: aliceblue;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 241, 241);
}
button {
    background-color: #58d85d;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; 
    justify-content: center;
}

button:hover {
background-color: #609b60;
}
