*{
    outline: solid 1px white;
}
body {
    background-color: black;
}

#cuerpo {
    margin: 0 auto;;
    height: 570px;
    width: 570px;
    display: flex;
}
.left{
flex:1;
}
.right{
flex:3;
}
.rojo {
    background-color: #d52414;
    height: 300px;
    margin-bottom: 10px;
}

.blanco {
    background-color: #ffffff;
    height: 180px;
    margin-bottom: 20px;
}

.azul {
    background-color: #02599d;

    height: 150px;
    margin-top: 10px;
}

.blanco3 {
    background-color: #e8e5e8;
  
    height: 150px;
    margin-top: 10px;
}

.blanco4 {
    background-color: #efefef;

    height: 50px;
    align-self: 6px ;
    margin-right: 500px;
    margin-top: 430px;

}

.amarillo {
    background-color: yellow;
 
    height: 50px;
    align-self: 60px ;
    margin-top: 30px;
    margin-right: 809px;
    
}

